* {
  font-family: "Inter", serif;
  padding: 0;
  margin: 0;
}

a {
  list-style: none;
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  padding-left: 2rem;
  font-weight: 400;
}

.centered-headline {
  padding-left: 0rem;
  display: flex;
  justify-content: center;
  font-weight: 400;
}

p {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

/* HEADER */
.logo {
  padding-left: 2rem;
  padding-top: 2rem;
  width: 15rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding-left: 4rem;
  gap: 2rem;
}

.header-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

header {
  background-color: white;
  padding-bottom: 2rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.icon {
  padding-right: 1rem;
  width: 3rem;
}

.header-icons {
  padding-top: 2rem;
  padding-right: 0rem;
  justify-content: right;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 10rem;
  padding: 0rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* HOME */

.img-grid {
  display: grid;
  position: relative;
}

.headline {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  object-position: center;
  display: block;
  padding-bottom: 2rem;
  width: 100%;
  /* height: 50%; */
  object-fit: cover;
  /* display: none; */
  grid-row-start: 1;
  grid-column-start: 1;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.product-image {
  width: 100%;
}

.collections-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.collection {
  position: relative;
  width: 100%;
}

.collection img {
  filter: brightness(65%);
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: thin;
}

.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.name-price {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 0.5rem;
}

.ring-size {
  padding-left: 1rem;
  padding-bottom: 1rem;
  color: rgb(196, 196, 196);
}

/* FOOTER */

h3 {
  padding-top: 2rem;
  padding-left: 2rem;
}

h4 {
  padding-top: 2rem;
  padding-left: 2rem;
}

footer {
  padding-bottom: 2rem;
  background-color: #587fee;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5px;
  padding-top: 2.5px;
}

.footer-container figure {
  background-color: white;
  padding-bottom: 2rem;
}

.footer-links {
  padding-left: 2rem;
}

#copyright {
  color: white;
}

.blue-paragraph {
  color: #587fee;
}

.round-logo {
  padding: 2rem;
  padding-bottom: 0rem;
  width: 10rem;
}

/* RING TYRA */

.heading-product {
  padding-left: 2rem;
}

.product-page-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.size-chooser {
  display: flex;
  padding-left: 2rem;
  padding-top: 1rem;
  gap: 10px;
  align-items: center;
}

.size-chooser label {
  cursor: pointer;
  padding: 10px 10px;
  border: 2px solid #587fee;
  border-radius: 2rem;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.size-chooser input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.size-chooser label:hover {
  background-color: #587fee;
  color: white;
}

.size-chooser input:checked {
  background-color: #587fee;
  color: white;
  border-color: #587fee;
}

#ring-button {
  background-color: #587fee;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 1rem;
  margin-top: 1rem;
  border: 3.5px solid #587fee;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#ring-button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 3.5px solid #587fee;
}

.quantity-dropdown {
  padding: 1rem;
  font-size: 1rem;
  margin-left: 2rem;
  border: 3px solid #587fee;
  background-color: #f9f9f9;
  color: #587fee;
  width: 150px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 10rem;
  padding: 0rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.product-list {
  padding-left: 2rem;
  padding-top: 2rem;
}

#description-button,
#composition-button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-left: 2rem;
  margin-top: 3rem;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out,
    border 0.3s ease-in-out;
  border: 0;
  border-bottom: 1px solid transparent;
}

#composition-button {
  margin-left: 1rem;
}

#composition-button:hover {
  background-color: rgb(255, 255, 255);
  color: #587fee;
  font-size: 1rem;
  cursor: pointer;
  border-bottom: 1px solid #587fee;
}

#description-button:hover {
  background-color: rgb(255, 255, 255);
  color: #587fee;
  font-size: 1rem;
  cursor: pointer;
  border-bottom: 1px solid #587fee;
}

.ring-description {
  min-height: 18rem;
  font-size: 1rem;
  color: #000000;
}

#empty-paragraph {
  padding-top: 1rem;
}

/* RESPONSIVENESS */

@media screen and (max-width: 1000px) {
  .header-navigation {
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 3rem;
  }
  .headline {
    height: 40vh;
  }
  .products-container {
    grid-template-columns: 1fr 1fr;
  }
  .footer-container {
    grid-template-columns: 1fr;
  }
  li {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 500px) {
}

/* ANIMATIONS */

a {
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

a:hover {
  color: #587fee;
  font-weight: 500;
}

/*cart*/
.cart-header {
  text-align: center;
  margin-top: 2rem;
  padding: 0%;
}

.cart-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.cart-items {
  width: 65%;
}

.cart-item {
  display: row;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

.cart-item img {
  width: 120px;
  height: auto;
  border-radius: 5px;
}

.item-details {
  flex-grow: 1;
  padding-left: 0%;
}

.checkout-summary {
  width: 30%;
  padding: 20px;
  background: #f8f8f8;
  border-radius: 8px;
  text-align: center;
}

.checkout-summary p {
  font-size: 18px;
  margin: 10px;
}

.checkout-button,
.login-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.checkout-button {
  background: black;
  color: white;
}

.login-button {
  background: white;
  border: 1px solid black;
  color: black;
}

/*about us*/
.about-us {
  text-align: center;
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.about-us p {
  justify-content: center;
  margin-bottom: 20px;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  /* justify-content: center; */
  margin-left: 100px;
  margin-bottom: 5rem;
  margin-right: 2rem;
}

.about-container img {
  width: 100%;
  /* height: 100%; */
  margin-top: 5%;
}

.arrow-img {
  max-width: 75%;
  margin-top: 20px;
}

.inner-grid {
  grid-template-rows: 1fr 1fr;
  margin-top: 15px;
}

/*care instructions page*/
.care img {
  width: 60%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.care {
  text-align: center;
}
